:root{
    --titles-font: 'Arvo', serif;
    --paragraph-font: 'Lato', sans-serif;
    --col-main: #FF8811;
    --col-sec: #E03616;
    --col-ter: #226F54;
    --colval-white: #FAFAFF;
    --colval-black: #242325;
}


