@media (max-width: 768px){
    .promo-strip__text{
        font-size: .9!important
    }
}

@media (max-width: 768px){
    .academy__img-container{
        display: none!important;
    }
    .academy__text {
        width: 100% !important;
        padding-right: 0 !important;
        padding: 5rem !important;
    }
}

