*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #FAFAFF;
}

.btn.btn__custom-1 {
  background: linear-gradient(180deg, #FF8811 0%, #E03616 100%);
  color: #FAFAFF;
  padding: 0.7rem 0.7rem;
  min-width: 120px;
  border: none;
  border-radius: 30px;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
}
.btn.btn__custom-1 a {
  color: inherit;
  text-decoration: none;
}
.btn.btn__custom-1 i {
  margin-left: 10px;
  font-size: 1.5rem;
}
.btn.btn__custom-1:hover {
  transform: scale(1.1);
}

.title__header {
  font-weight: 600;
  display: inline;
  align-self: center;
  position: relative;
  z-index: 1;
  text-align: center;
}
.title__header::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.4156862745);
  width: 100%;
  height: 10px;
  margin-top: -10px;
  z-index: -1;
}

.title__description {
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}

.header-container {
  background: linear-gradient(90deg, #FF8811 0%, #E03616 100%);
  z-index: 100;
}

.nav-link {
  color: #FAFAFF;
}
.nav-link:hover {
  opacity: 0.8;
}

.navbar__btn {
  border-color: #FAFAFF;
  color: #FAFAFF;
}
.navbar__btn:hover {
  background-color: #048331;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.cart__btn {
  padding: 1rem 0;
  color: #FAFAFF;
}
.cart__btn a {
  color: inherit;
  text-decoration: none;
}
.cart__btn:hover {
  color: #FAFAFF;
}

.form-control__header {
  border-radius: 20px 0px 0px 20px;
}

.navbar__btn {
  border-radius: 0px 20px 20px 0px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #FF8811;
}

.hero {
  position: relative;
  width: auto;
  height: 100vh;
  height: 100dvh;
  background-image: url(../img/pizza-oven.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}
.hero .hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (width > 1400px) {
  .hero {
    height: 50vh;
  }
  .hero__cta {
    transform: translateY(20vh);
  }
}
.hero__cta {
  position: absolute;
  align-self: center;
  padding: 35vh 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FAFAFF;
  text-align: center;
}
.hero__cta h1 {
  font-size: 1.3rem;
  padding: 0 2rem;
}
.hero__cta h1 span {
  position: relative;
  font-size: 3rem;
}
.hero__cta h1 span::before {
  content: open-quote;
  font-family: "Catamaran", sans-serif;
  font-size: 5rem;
  position: absolute;
  display: inline;
  left: -40px;
}
.hero__cta h1 span::after {
  content: close-quote;
  font-family: "Catamaran", sans-serif;
  font-size: 5rem;
  position: absolute;
  display: inline;
  right: -40px;
}

.promo-strip {
  background-color: #048331;
}
.promo-strip .promo-strip__text {
  color: #FAFAFF;
}

.productos {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
}

.productos__container {
  padding: 0 4vw;
  display: grid;
  max-width: 1500px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 0.5fr));
  grid-gap: 16px;
}

.producto__card {
  border: rgba(0, 0, 0, 0.08) 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.03);
}
.producto__card .up {
  width: 100%;
}
.producto__card .up img {
  width: 80%;
  height: auto;
}
.producto__card .up .producto__name {
  font-weight: bold;
  padding: 2rem 1.5rem 0 1.5rem;
  font-size: 1.3rem;
}
.producto__card .up .producto__desc {
  margin: 0 1rem 0 1.5rem;
  font-size: 0.8rem;
}
.producto__card .down {
  width: 100%;
}
.producto__card .down .producto__price {
  margin: 1rem 1.5rem 1rem 1.5rem;
  font-size: 1.2rem;
}
.producto__card .down .add-to-cart {
  background-color: #FF8811;
  width: 100%;
  border-radius: 0 0 10px 10px;
}
.producto__card .down .add-to-cart:hover {
  background-color: #048331;
  cursor: pointer;
}
.producto__card .down .add-to-cart__text {
  color: #FAFAFF;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  padding: 0.8rem 0;
}

.container-fluid.academy {
  margin-top: 10rem;
  padding-top: 4rem;
  background-image: url(../img/pizza_pattern_orange.png);
}

.academy__img__container {
  position: relative;
  height: auto;
}
.academy__img__container .academy__img-1 {
  position: absolute;
  width: 400px;
  height: auto;
  right: 0;
  bottom: 0;
}
.academy__img__container .academy__img-2 {
  position: absolute;
  width: 200px;
  height: auto;
  right: 50%;
  transform: translateX(50%);
  bottom: 0;
}

.academy__text {
  height: 25rem;
  display: flex;
  align-items: center;
}
.academy__text .academy__cta {
  max-width: 450px;
  padding: 2rem;
  background-color: white;
  border-radius: 15px;
}

.showroom {
  background-image: url(../img/tienda-cocina\ \(1366\ x\ 1100\ px\).png);
  background-attachment: fixed;
  background-size: cover;
  height: 40rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showroom .showroom__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}
.showroom .showroom__cta {
  position: absolute;
  text-align: center;
  color: #FAFAFF;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showroom .showroom__cta button {
  margin-top: 2rem;
}

.accordion-button:not(.collapsed) {
  background-color: #FF8811;
  color: #FAFAFF;
}

.accordion-button:focus {
  box-shadow: none;
}

.location-cards {
  padding-top: 4rem;
}

.footer {
  background: linear-gradient(90deg, #FF8811 0%, #E03616 100%);
  color: #FAFAFF;
}

.footer__up .footer__up__left ul {
  list-style-type: none;
  padding: 0;
}
.footer__up .footer__up__left a {
  color: inherit;
  text-decoration: none;
}
.footer__up .footer__up__left a:hover {
  text-decoration: underline;
}

.footer__up__right__social ul {
  list-style-type: none;
  gap: 0.7rem;
  padding: 0;
}
.footer__up__right__social ul i {
  color: #FAFAFF;
  font-size: 2rem;
}
.footer__up__right__social ul i:hover {
  transform: scale(1.4);
  transition: 0.3s ease-in;
}

.footer__up__right__payment ul {
  list-style-type: none;
  gap: 0.7rem;
  padding: 0;
}
.footer__up__right__payment ul i {
  font-size: 2rem;
  color: #FAFAFF;
}

.footer__bottom p {
  font-size: 0.8rem;
}

.products__results {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__results .hornos__description {
  max-width: 750px;
}

.selector-strip {
  background-image: url(../../img/pizza_pattern_orange.png);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.prod-selector {
  display: grid;
  margin: 2rem 0;
  grid-template-columns: repeat(4, 1fr);
  max-width: 600px;
  gap: 0.6rem;
}
.prod-selector .prod-categoria {
  background: linear-gradient(180deg, #FF8811 0%, #E03616 100%);
  border: 1px solid #FF8811;
  border-radius: 10px;
  padding: 1rem 0.3rem 0.5rem 0.3rem;
}
.prod-selector .prod-categoria .prod-categoria__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  text-decoration: none;
}
.prod-selector .prod-categoria .prod-categoria__card i {
  font-size: 1.5rem;
  font-weight: 600;
  color: #FAFAFF;
}
.prod-selector .prod-categoria .prod-categoria__card p {
  font-size: 0.9rem;
  max-width: 120px;
  text-align: center;
  color: #FAFAFF;
}
.prod-selector .prod-categoria--selected {
  background-color: #FAFAFF;
  border: 2px solid #FF8811;
  border-radius: 10px;
  padding: 1rem 0.3rem 0.5rem 0.3rem;
  transform: translateY(-10px);
}
.prod-selector .prod-categoria--selected .prod-categoria__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  text-decoration: none;
}
.prod-selector .prod-categoria--selected .prod-categoria__card i {
  font-size: 1.8rem;
  font-weight: 600;
  color: #FF8811;
}
.prod-selector .prod-categoria--selected .prod-categoria__card p {
  font-size: 1.1rem;
  font-weight: 600;
  max-width: 120px;
  text-align: center;
  color: #FF8811;
}

.breadcrumb {
  margin-top: 5rem;
}

.show-image-gallery {
  padding-top: 10rem;
}
.show-image-gallery .show-text {
  display: flex;
  flex-direction: column;
}

.show-gallery {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  max-width: 800px;
  overflow: hidden;
  background-image: url(../../img/pizza_pattern_orange.png);
}

.show-gallery :first-child {
  background-image: url(../../img/gallery/3.png);
  background-size: cover;
  background-position: center;
  grid-column: 1/3;
  grid-row: 1/2;
}

.show-gallery :nth-child(2) {
  background-image: url(../../img/gallery/4.png);
  background-size: cover;
  background-position: center;
  grid-column: 3/4;
  grid-row: 1/3;
}

.show-gallery :nth-child(3) {
  background-image: url(../../img/gallery/1.png);
  background-size: cover;
  grid-column: 1/2;
  grid-row: 2/3;
}

.show-gallery :last-child {
  background-image: url(../../img/gallery/5.png);
  background-size: cover;
  grid-column: 2/3;
  grid-row: 2/3;
}

.showroom-features {
  max-width: 850px;
  margin: 5rem auto;
}

.terminos {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
}

.contacto {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  background-image: url(../../img/pizza_pattern_orange.png);
}

.form-container {
  max-width: 800px;
  background-color: #FAFAFF;
  padding: 4rem;
  margin-bottom: 10rem;
  border-radius: 20px;
}

.form-control:focus {
  box-shadow: 0px 0px 0px 4px rgba(221, 111, 52, 0.4);
}

.form-check-input:checked {
  background-color: #FF8811;
  border-color: #FF8811;
}

.form-check-input:focus {
  box-shadow: 0px 0px 0px 4px rgba(221, 111, 52, 0.4);
}

@media (max-width: 768px) {
  .promo-strip__text {
    font-size: 0.9;
  }
  .productos {
    margin-bottom: 15rem;
  }
  .academy {
    padding-bottom: 4rem;
  }
  .academy__text {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .academy__text .academy__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.5rem;
  }
  .academy__text .academy__cta h3 {
    text-align: center;
  }
  .academy__text .academy__cta p {
    text-align: center;
  }
  .academy__img__container {
    display: flex;
    justify-content: center;
  }
  .academy__img__container .academy__img-1 {
    display: none;
  }
  .academy__img__container .academy__img-2 {
    margin-bottom: -3rem;
  }
  .footer__up__left {
    text-align: center;
  }
  .footer__up__left ul {
    font-size: 1.3rem;
  }
  .footer {
    padding-top: 2rem;
  }
  .footer__up__right__social {
    padding-top: 2rem;
  }
}
@media (width > 1400px) {
  .productos__container {
    align-self: center;
  }
}
@media (width >= 768px) {
  .academy__img-2 {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */