$titles-font: 'Arvo', serif;
$paragraph-font: 'Lato', sans-serif;
$col-main: #FF8811;
$col-sec: #E03616;
$col-ter: #048331;
$colval-white: #FAFAFF;
$colval-black: #242325;

*,  // inclui los pseudos en el reset porque los ocupe en la pagina y revise que el selector global no incluye los pseudo elementos.
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $paragraph-font;
    background-color: $colval-white;
}

@import '@mixins';

.btn.btn__custom-1{
    @include mainButton;
}

.title__header {
    @include mainTitle
}
.title__description{
    @include mainDescription
}

@import './components/header';
@import './components/hero';
@import './components/product-list';
@import './components/academy-section';
@import './components/showroom-section';
@import './components/footer';
@import './pages-stylesheets/pag-academy';
@import './pages-stylesheets/pag-productos';
@import './pages-stylesheets/pag-showroom';
@import './pages-stylesheets/pag-tyc';
@import './pages-stylesheets/pag-contacto';
@import '@media';
