
.container-fluid.academy{
    margin-top: 10rem;
    padding-top: 4rem;
    background-image: url(../img/pizza_pattern_orange.png);
}

.academy__img__container{
    position: relative;
    height: auto;
    .academy__img-1 {
        position: absolute;
        width: 400px;
        height: auto;
        right: 0;
        bottom: 0;
    }
    .academy__img-2 {
        position: absolute;
        width: 200px;
        height: auto;
        right: 50%;
        transform: translateX(50%);
        bottom: 0;
    }
}

.academy__text {
    height: 25rem;
    display: flex;
    align-items: center;    
    .academy__cta{
        max-width: 450px;
        padding: 2rem;
        background-color: white;
        border-radius: 15px;

    }
}


