.productos {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
}

.productos__container{
    padding: 0 4vw;
    display: grid;
    max-width: 1500px;
    width: 100%;
    grid-template-columns: repeat(
    auto-fit,  
    minmax(10rem, .5fr)
    );
    grid-gap: 16px;
}




.producto__card {
    border: rgba(0, 0, 0, 0.08) 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.03);
    .up {
        width: 100%;
        img {
            width: 80%;
            height: auto;
        }
        .producto__name{
            font-weight: bold;
            padding: 2rem 1.5rem 0 1.5rem;
            font-size: 1.3rem;
        }
        .producto__desc{
        margin: 0 1rem 0 1.5rem;
        font-size: .8rem;
        }
    } 
    .down {
        width: 100%;
        .producto__price{
            margin: 1rem 1.5rem 1rem 1.5rem;
            font-size: 1.2rem;
        }
        .add-to-cart{
            background-color: $col-main;
            width: 100%;
            border-radius: 0 0 10px 10px;
            &:hover{
                background-color: $col-ter;
                cursor: pointer;
            }
        }
        .add-to-cart__text{
            color: $colval-white;
            font-size: 1rem;
            text-align: center; 
            margin: 0 auto; 
            padding: .8rem 0; 
        }
    }
    
}
